<%= form_for(employee) do |f| %>
    <% if employee.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(employee.errors.count, "error") %> prohibited this
            employee from being saved:</h2>

          <ul>
            <% employee.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :LastName %>
      <%= f.text_field :LastName %>
    </div>

    <div class="field">
      <%= f.label :FirstName %>
      <%= f.text_field :FirstName %>
    </div>

    <!--options_for_select(-->
    <!--@employees_with_names,-->
    <!--# .select { |e| employee.EmployeeID != e.EmployeeID }-->
    <!--selected: employee.supervisor_or_self_id-->
    <!--),-->
    <div class="field">
      <%= f.label :Supervisor %>
      <%= f.collection_select :ReportsTo,
                   @all_employees, :EmployeeID, :full_name,
                   {prompt: 'Please select'}
      %>
    </div>

    <div class="field">
      <%= f.label 'Select Employee Territories:' %>
      <%= f.select :territory_ids,
                   options_for_select(
                       @territories_with_description,
                       selected: @employee.territories.ids),
                   {prompt: 'Please select'},
                   {multiple: true, size: 10}
            %>
    </div>

    <div class="field">
      <%= f.label :Title %>
      <%= f.text_field :Title %>
    </div>

    <div class="field">
      <%= f.label :TitleOfCourtesy %>
      <%= f.text_field :TitleOfCourtesy %>
    </div>

    <div class="field">
      <%= f.label :BirthDate %>
      <%= f.date_select :BirthDate %>
    </div>

    <div class="field">
      <%= f.label :HireDate %>
      <%= f.date_select :HireDate %>
    </div>

    <div class="field">
      <%= f.label :Address %>
      <%= f.text_field :Address %>
    </div>

    <div class="field">
      <%= f.label :City %>
      <%= f.text_field :City %>
    </div>

    <div class="field">
      <%= f.label :Region %>
      <%= f.text_field :Region %>
    </div>

    <div class="field">
      <%= f.label :PostalCode %>
      <%= f.text_field :PostalCode %>
    </div>

    <div class="field">
      <%= f.label :Country %>
      <%= f.text_field :Country %>
    </div>

    <div class="field">
      <%= f.label :HomePhone %>
      <%= f.telephone_field :HomePhone %>
    </div>

    <div class="field">
      <%= f.label :Extension %>
      <%= f.text_field :Extension %>
    </div>

    <div class="field">
      <%= f.label :Photo %>
      <%= f.text_field :Photo %>
    </div>

    <div class="field">
      <%= f.label :Notes %>
      <%= f.text_field :Notes %>
    </div>

    <div class="field">
      <%= f.label :PhotoPath %>
      <%= f.file_field :PhotoPath %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


