<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<%= link_to 'New Employee', new_employee_path %>
<br>
<br>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Supervisor</th>
    <th style="width: 100px;">Territories</th>
    <th>Title</th>
    <th>Titleofcourtesy</th>
    <th>Birthdate</th>
    <th>Hiredate</th>
    <th>Address</th>
    <th>City</th>
    <th>Region</th>
    <th>Postalcode</th>
    <th>Country</th>
    <th>Homephone</th>
    <th>Extension</th>
    <th>Photo</th>
    <!--<th>Notes</th>-->
    <th>Photopath</th>
  </tr>
  </thead>

  <tbody>
  <% @all_employees.each do |employee| %>
      <tr>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <td><%= employee.LastName %></td>
        <td><%= employee.FirstName %></td>
        <td><%= employee.supervisor_name %></td>
        <td><%= employee.formatted_territories %></td>
        <td><%= employee.Title %></td>
        <td><%= employee.TitleOfCourtesy %></td>
        <td><%= employee.BirthDate %></td>
        <td><%= employee.HireDate %></td>
        <td><%= employee.Address %></td>
        <td><%= employee.City %></td>
        <td><%= employee.Region %></td>
        <td><%= employee.PostalCode %></td>
        <td><%= employee.Country %></td>
        <td><%= employee.HomePhone %></td>
        <td><%= employee.Extension %></td>
        <td><%= employee.Photo %></td>
        <!--<td><%= employee.Notes %></td>-->
        <td><%= employee.PhotoPath %></td>
      </tr>
  <% end %>
  </tbody>
</table>
