<%= form_for(order_detail) do |f| %>
  <% if order_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_detail.errors.count, "error") %> prohibited this order_detail from being saved:</h2>

      <ul>
      <% order_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :UnitPrice %>
    <%= f.text_field :UnitPrice %>
  </div>

  <div class="field">
    <%= f.label :Quantity %>
    <%= f.number_field :Quantity %>
  </div>

  <div class="field">
    <%= f.label :Discount %>
    <%= f.text_field :Discount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
