<%= form_for(employee_territory) do |f| %>
  <% if employee_territory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_territory.errors.count, "error") %> prohibited this employee_territory from being saved:</h2>

      <ul>
      <% employee_territory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Employee_id %>
    <%= f.text_field :Employee_id %>
  </div>

  <div class="field">
    <%= f.label :Territory_id %>
    <%= f.text_field :Territory_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
