<p id="notice"><%= notice %></p>

<h1>Employee Territories</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Territory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_territories.each do |employee_territory| %>
      <tr>
        <td><%= employee_territory.employee %></td>
        <td><%= employee_territory.territory %></td>
        <td><%= link_to 'Show', employee_territory %></td>
        <td><%= link_to 'Edit', edit_employee_territory_path(employee_territory) %></td>
        <td><%= link_to 'Destroy', employee_territory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Territory', new_employee_territory_path %>
