<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @employee_territory.Employee %>
</p>

<p>
  <strong>Territory:</strong>
  <%= @employee_territory.Territory %>
</p>

<%= link_to 'Edit', edit_employee_territory_path(@employee_territory) %> |
<%= link_to 'Back', employee_territories_path %>
