<%= form_for(customer_customer_demographic) do |f| %>
  <% if customer_customer_demographic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_customer_demographic.errors.count, "error") %> prohibited this customer_customer_demographic from being saved:</h2>

      <ul>
      <% customer_customer_demographic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Customer_id %>
    <%= f.text_field :CustomerID %>
  </div>

  <div class="field">
    <%= f.label :CustomerTypeId %>
    <%= f.text_field :CustomerTypeID %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
