<h1>Editing Customer Customer Demographic</h1>

<%= render 'form', customer_customer_demographic: @customer_customer_demographic %>

<%= link_to 'Show', @customer_customer_demographic %> |
<%= link_to 'Back', customer_customer_demographics_path %>
