<p id="notice"><%= notice %></p>

<h1>Customer Customer Demographics</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Customertype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_customer_demographics.each do |customer_customer_demographic| %>
      <tr>
        <td><%= customer_customer_demographic.Customer %></td>
        <td><%= customer_customer_demographic.CustomerType %></td>
        <td><%= link_to 'Show', customer_customer_demographic %></td>
        <td><%= link_to 'Edit', edit_customer_customer_demographic_path(customer_customer_demographic) %></td>
        <td><%= link_to 'Destroy', customer_customer_demographic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Customer Demographic', new_customer_customer_demographic_path %>
