<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer_customer_demographic.Customer %>
</p>

<p>
  <strong>Customertype:</strong>
  <%= @customer_customer_demographic.CustomerType %>
</p>

<%= link_to 'Edit', edit_customer_customer_demographic_path(@customer_customer_demographic) %> |
<%= link_to 'Back', customer_customer_demographics_path %>
