<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CompanyName %>
    <%= f.text_field :CompanyName %>
  </div>

  <div class="field">
    <%= f.label :ContactName %>
    <%= f.text_field :ContactName %>
  </div>

  <div class="field">
    <%= f.label :ContactTitle %>
    <%= f.text_field :ContactTitle %>
  </div>

  <div class="field">
    <%= f.label :Address %>
    <%= f.text_field :Address %>
  </div>

  <div class="field">
    <%= f.label :City %>
    <%= f.text_field :City %>
  </div>

  <div class="field">
    <%= f.label :Region %>
    <%= f.text_field :Region %>
  </div>

  <div class="field">
    <%= f.label :PostalCode %>
    <%= f.text_field :PostalCode %>
  </div>

  <div class="field">
    <%= f.label :Country %>
    <%= f.text_field :Country %>
  </div>

  <div class="field">
    <%= f.label :Phone %>
    <%= f.text_field :Phone %>
  </div>

  <div class="field">
    <%= f.label :Fax %>
    <%= f.text_field :Fax %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
