<div class="span6 offset3">
  <%= form_for(order) do |f| %>
      <% if order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(order.errors.count, "error") %> prohibited this
              order from being saved:</h2>

            <ul>
              <% order.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field form-group">
        <%= f.label 'Ordered Products' %>
        <div>
          <%= f.nested_fields_for :order_details do |ff| %>
              <%= ff.label 'Product:' %>
              <%= ff.collection_select :ProductID, @products,
                                       :ProductID, :ProductName %>
              <%= ff.label 'Quantity:' %>
              <%= ff.number_field :Quantity %>
              <%= ff.label 'Discount:' %>
              <%= ff.number_field :Discount %>
              <%= ff.label 'UnitPrice:' %>
              <%= ff.number_field :UnitPrice %>
              <%= ff.hidden_field :OrderID, value: order.OrderID %>
              <%= ff.remove_nested_fields_link 'Remove this product',
                                               class: 'btn', role: 'button' %>
          <% end %>
          <%= f.add_nested_fields_link :order_details, 'Add product to order',
                                       role: 'btn', class: 'btn btn-primary' %>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label 'Customer', class: 'col-sm-2 control-label' %>
        <%= f.collection_select :CustomerID, @customers,
                                :CustomerID, :CompanyName,
                                class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label 'Shipper', class: 'col-sm-2 control-label' %>
        <%= f.collection_select :ShipVia, @shippers, :ShipperID, :CompanyName,
                                class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label 'Employee', class: 'col-sm-2 control-label' %>
        <%= f.collection_select :EmployeeID, @all_employees,
                                :EmployeeID, :full_name,
                                class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :OrderDate, class: 'col-sm-2 control-label' %>
        <%= f.text_field :OrderDate %>
      </div>

      <div class="field form-group">
        <%= f.label :ShippedDate, class: 'col-sm-2 control-label' %>
        <%= f.text_field :ShippedDate %>
      </div>

      <div class="field form-group">
        <%= f.label :Freight, class: 'col-sm-2 control-label' %>
        <%= f.text_field :Freight %>
      </div>

      <div class="field form-group">
        <%= f.label :ShipName, class: 'col-sm-2 control-label' %>
        <%= f.text_field :ShipName %>
      </div>

      <div class="field form-group">
        <%= f.label :ShipAddress, class: 'col-sm-2 control-label' %>
        <%= f.text_field :ShipAddress %>
      </div>

      <!--<div class="field form-group">-->
      <!--<%= f.label :ShipCity, class: 'col-sm-2 control-label' %>-->
      <!--<%= f.text_field :ShipCity %>-->
      <!--</div>-->

      <!--<div class="field form-group">-->
      <!--<%= f.label :ShipRegion, class: 'col-sm-2 control-label' %>-->
      <!--<%= f.text_field :ShipRegion %>-->
      <!--</div>-->

      <!--<div class="field form-group">-->
      <!--<%= f.label :ShipPostalCode, class: 'col-sm-2 control-label' %>-->
      <!--<%= f.text_field :ShipPostalCode %>-->
      <!--</div>-->

      <!--<div class="field form-group">-->
      <!--<%= f.label :ShipCountry, class: 'col-sm-2 control-label' %>-->
      <!--<%= f.text_field :ShipCountry %>-->
      <!--</div>-->

      <div class="actions btn-sm">
        <%= f.submit %>
      </div>
  <% end %>
</div>
