<%= f.label :ProductID %>
<%= f.text_field :ProductID %>
<%= f.label :UnitPrice %>
<%= f.number_field :UnitPrice %>
<%= f.label :Quantity %>
<%= f.number_field :Quantity %>
<%= f.label :Discount %>
<%= f.number_field :Discount %>

<%= link_to_remove_association 'Remove product', f %>