<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<%= link_to 'New Order', new_order_path %>
<br/>

<table>
  <thead>
    <tr>
      <th>Order date</th>
      <th>Customer Company</th>
      <th>Shipping Company</th>
      <th>Employee</th>
      <th>Shipped date</th>
      <th>Freight</th>
      <th>Ship name</th>
      <th>Ship address</th>
      <th>Ship city</th>
      <th>Ship region</th>
      <th>Ship postalcode</th>
      <th>Ship country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.OrderDate %></td>
        <td><%= order.customer.CompanyName %></td>
        <td><%= order.shipper.CompanyName %></td>
        <td><%= order.employee_name %></td>
        <td><%= order.ShippedDate %></td>
        <td><%= order.Freight %></td>
        <td><%= order.ShipName %></td>
        <td><%= order.ShipAddress %></td>
        <td><%= order.ShipCity %></td>
        <td><%= order.ShipRegion %></td>
        <td><%= order.ShipPostalCode %></td>
        <td><%= order.ShipCountry %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

