<p id="notice"><%= notice %></p>

<p >
  <strong>Customer:</strong>
  <%= @order.customer.CompanyName %>
</p>

<p>
  <strong>Shipping company:</strong>
  <%= @order.shipper.CompanyName %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @order.employee.full_name %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @order.OrderDate %>
</p>

<p>
  <strong>Shipped date:</strong>
  <%= @order.ShippedDate %>
</p>

<p>
  <strong>Freight:</strong>
  <%= @order.Freight %>
</p>

<p>
  <strong>Shipname:</strong>
  <%= @order.ShipName %>
</p>

<p>
  <strong>Shipaddress:</strong>
  <%= @order.ShipAddress %>
</p>

<p>
  <strong>Shipcity:</strong>
  <%= @order.ShipCity %>
</p>

<p>
  <strong>Shipregion:</strong>
  <%= @order.ShipRegion %>
</p>

<p>
  <strong>Shippostalcode:</strong>
  <%= @order.ShipPostalCode %>
</p>

<p>
  <strong>Shipcountry:</strong>
  <%= @order.ShipCountry %>
</p>

<p>
  <strong>Ordered products:</strong>
<p> <%= raw @order.order_details.formatted_details %> </p>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
