<p id="notice"><%= notice %></p>

<h1>Shippers</h1>

<table>
  <thead>
    <tr>
      <th>Shipperid</th>
      <th>Companyname</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shippers.each do |shipper| %>
      <tr>
        <td><%= shipper.ShipperID %></td>
        <td><%= shipper.CompanyName %></td>
        <td><%= shipper.Phone %></td>
        <td><%= link_to 'Show', shipper %></td>
        <td><%= link_to 'Edit', edit_shipper_path(shipper) %></td>
        <td><%= link_to 'Destroy', shipper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipper', new_shipper_path %>
