<p id="notice"><%= notice %></p>

<h1>Territories</h1>

<table>
  <thead>
    <tr>
      <th>Territory description</th>
      <th>Region</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @territories.each do |territory| %>
      <tr>
        <td><%= territory.TerritoryDescription %></td>
        <td><%= territory.region.RegionDescription %></td>
        <td><%= link_to 'Show', territory %></td>
        <td><%= link_to 'Edit', edit_territory_path(territory) %></td>
        <td><%= link_to 'Destroy', territory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Territory', new_territory_path %>
