<p id="notice"><%= notice %></p>

<p>
  <strong>Territorydescription:</strong>
  <%= @territory.TerritoryDescription %>
</p>

<%= link_to 'Edit', edit_territory_path(@territory) %> |
<%= link_to 'Back', territories_path %>
