<%= form_for(usstate) do |f| %>
  <% if usstate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usstate.errors.count, "error") %> prohibited this usstate from being saved:</h2>

      <ul>
      <% usstate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :StateName %>
    <%= f.text_field :StateName %>
  </div>

  <div class="field">
    <%= f.label :StateAbbr %>
    <%= f.text_field :StateAbbr %>
  </div>

  <div class="field">
    <%= f.label :StateRegion %>
    <%= f.text_field :StateRegion %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
