<p id="notice"><%= notice %></p>

<p>
  <strong>Statename:</strong>
  <%= @usstate.StateName %>
</p>

<p>
  <strong>Stateabbr:</strong>
  <%= @usstate.StateAbbr %>
</p>

<p>
  <strong>Stateregion:</strong>
  <%= @usstate.StateRegion %>
</p>

<%= link_to 'Edit', edit_usstate_path(@usstate) %> |
<%= link_to 'Back', usstates_path %>
