<%= form_for(region) do |f| %>
  <% if region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :RegionDescription %>
    <%= f.text_field :RegionDescription %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
