<%= form_for(product) do |f| %>
    <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this
            product from being saved:</h2>

          <ul>
            <% product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Product Name' %>
      <%= f.text_field :ProductName %>
    </div>

    <div class="field">
      <%= f.label 'Supplier Company' %>
      <%= f.select :SupplierID, options_for_select(@suppliers.map { |m|
        [m.CompanyName, m.SupplierID] }) %>
    </div>

    <div class="field">
      <%= f.label 'Category' %>
      <%= f.select :CategoryID, options_for_select(@categories.map { |c|
        [c.CategoryName, c.CategoryID] }) %>
    </div>

    <div class="field">
      <%= f.label 'Quantity Per Unit' %>
      <%= f.text_field :QuantityPerUnit %>
    </div>

    <div class="field">
      <%= f.label 'Unit Price' %>
      <%= f.text_field :UnitPrice %>
    </div>

    <div class="field">
      <%= f.label 'Units In Stock' %>
      <%= f.number_field :UnitsInStock %>
    </div>

    <div class="field">
      <%= f.label 'Units On Order' %>
      <%= f.number_field :UnitsOnOrder %>
    </div>

    <div class="field">
      <%= f.label 'Reorder Level' %>
      <%= f.number_field :ReorderLevel %>
    </div>

    <div class="field">
      <%= f.label 'Discontinued' %>
      <%= f.number_field :Discontinued %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
