<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Supplier Company</th>
      <th>Category </th>
      <th>Quantity per unit</th>
      <th>Unit price</th>
      <th>Units in stock</th>
      <th>Units on order</th>
      <th>Reorder level</th>
      <th>Discontinued</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.ProductName %></td>
        <td><%= product.supplier.CompanyName %></td>
        <td><%= product.category.CategoryName %></td>
        <td><%= product.QuantityPerUnit %></td>
        <td><%= product.UnitPrice %></td>
        <td><%= product.UnitsInStock %></td>
        <td><%= product.UnitsOnOrder %></td>
        <td><%= product.ReorderLevel %></td>
        <td><%= product.Discontinued %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
