<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Contact name</th>
      <th>Contact title</th>
      <th>Address</th>
      <th>City</th>
      <th>Region</th>
      <th>PostalCode</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>HomePage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.CompanyName %></td>
        <td><%= supplier.ContactName %></td>
        <td><%= supplier.ContactTitle %></td>
        <td><%= supplier.Address %></td>
        <td><%= supplier.City %></td>
        <td><%= supplier.Region %></td>
        <td><%= supplier.PostalCode %></td>
        <td><%= supplier.Country %></td>
        <td><%= supplier.Phone %></td>
        <td><%= supplier.Fax %></td>
        <td><%= supplier.HomePage %></td>
        <td><%= link_to 'Show', supplier %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
