<!DOCTYPE html>
<html>
<head>
  <title>Bazy Danych 2016: Northwind, PostgreSQL, Ruby on Rails</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container" style="padding-top: 5px">
  <div class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Orders', orders_path, class: %w[active] %></li>
      </li>
      <li>
        <%= link_to 'Products', products_path %>
      </li>
      <li>
        <%= link_to 'Categories', categories_path %>
      </li>
      <li>
        <%= link_to 'Customers', customers_path %>
      </li>
      <li>
        <%= link_to 'Suppliers', suppliers_path %>
      </li>
      <li>
        <%= link_to 'Shippers', shippers_path %>
      </li>
      <li>
        <%= link_to 'Employees', employees_path %>
      </li>
      <li>
        <%= link_to 'Territories', territories_path %>
      </li>
    </ul>
  </div>

  <% if content_for? :menu %>
      <nav>
        <%= yield :menu %>
      </nav>
  <% end %>

  <main>
    <%= yield %>
  </main>
</div>
</body>
</html>
